body {
    /* font-family: sans-serif; */ /* デフォルト */
    font-family: 'Zilla Slab', sans-serif; /* body 全体に適用する場合 */
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


/*  */ 
/* h1, h2 { */
/*    font-family: 'Zilla Slab', sans-serif; */ /* 見出しに適用する場合 */
/* } */


.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}



/* ヘッダー部分 (上部のグレーの背景) */
.header-top {
    background-color: #e0e0e0;
    padding: 40px 0;
    text-align: left;
}

.header-top h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #222;
}

.header-top p {
    font-size: 1.1em;
    color: #555;
}



/* About Me セクション */
.about-me {
    padding: 40px 0;
    background-color: #fff;
}

.about-me h2 {
    font-size: 2em;
    color: #222;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.about-me p {
    margin-bottom: 15px;
}

.about-me ul {
    list-style: disc;
    padding-left: 20px;
}

.about-me li {
    margin-bottom: 8px;
}



/* projects セクション */
.projects {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.projects h2 {
    font-size: 2em;
    color: #222;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.projects ul {
    list-style: none;
    padding-left: 0;
}

.projects li {
    margin-bottom: 10px;
}

.projects a {
    color: #007bff;
    text-decoration: none;
}

.projects a:hover {
    text-decoration: underline;



/* Publications セクション */
.publications {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.publications h2 {
    font-size: 2em;
    color: #222;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.publications ul {
    list-style: none;
    padding-left: 0;
}

.publications li {
    margin-bottom: 10px;
}

.publications a {
    color: #007bff;
    text-decoration: none;
}

.publications a:hover {
    text-decoration: underline;
}



/* フッター部分 (下部のグレーの背景) */
.footer-bottom {
    background-color: #e0e0e0;
    padding: 20px 0;
    text-align: center;
    color: #555;
    font-size: 0.9em;
}